
@{
    ViewData["Title"] = "Errors";
}

<h1>Errors</h1>

<h3>An Error occured</h3>
<h3>Error details</h3>
<div>@ViewBag.ExceptionPath</div>
<div>@ViewBag.ExceptionMessage</div>
<div>@ViewBag.StackTrace</div>

